@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

[class="dark"] {
  --background: rgb(17, 24, 39);
  --foreground: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}